{
	"version": 12,
	"engines": [
		{
			"id": "google",
			"_name": "Google",
			"_isAppProvided": true,
			"_metaData": {}
		},
		{
			"id": "bing",
			"_name": "Bing",
			"_isAppProvided": true,
			"_metaData": {}
		},
		{
			"id": "ddg",
			"_name": "DuckDuckGo",
			"_isAppProvided": true,
			"_metaData": {}
		},
		{
			"id": "wikipedia",
			"_name": "Wikipedia (en)",
			"_isAppProvided": true,
			"_metaData": {}
		},
		{
			"id": "ebay-uk",
			"_name": "eBay",
			"_isAppProvided": true,
			"_metaData": {}
		},
		{
			"id": "Kagi",
			"_name": "Kagi",
			"_loadPath": "[home-manager]/programs.firefox.profiles.default.search.engines.Kagi",
			"_iconMapObj": {
				"16": "https://kagi.com/favicon.ico"
			},
			"_metaData": {},
			"_urls": [
				{
					"params": [
						{
							"name": "q",
							"value": "{searchTerms}"
						}
					],
					"template": "https://kagi.com/search"
				}
			],
			"_orderHint": null,
			"_telemetryId": null,
			"_filePath": null,
			"_definedAliases": ["@kagi"],
			"_updateInterval": null,
			"_updateURL": null
		}
	],
	"metaData": {
		"current": "Kagi",
		"hash": "{{defaultEngineIdHash}}",
		"defaultEngineId": "Kagi",
		"defaultEngineIdHash": "{{defaultEngineIdHash}}",
		"privateDefaultEngineId": "Kagi",
		"useSavedOrder": false,
		"locale": "en-US",
		"region": "GB",
		"channel": "default",
		"experiment": "",
		"distroID": "nixos",
		"appDefaultEngineId": "Kagi"
	}
}
