[tools]
bun = "1.2.13"
deno = "2.3.3"
go = "latest"
neovim = ['0.11.1']
node = ['23.11.0']
pkl = "0.28.2"

[settings]
idiomatic_version_file_enable_tools = ["node"]

{{#isLinux}}
# Mise on NixOS sets this to true by default https://mise.jdx.dev/configuration/settings.html#all_compile 
# We have programs.nix-ld.enable = true; so we don't need to compile everything
all_compile = false
{{/isLinux}}
