export ANTHROPIC_API_KEY="$(cat {{anthropicApiKeyPath}})"
export KAGI_API_KEY="$(cat {{kagiApiKeyPath}})"
export TAVILY_API_KEY="$(cat {{tavilyApiKeyPath}})"
export OPENAI_API_KEY="$(cat {{openaiApiKeyPath}})"
export JOIST_API_KEY="$(cat {{joistApiKeyPath}})"